.questListBox {
  border: dotted pink 2px;
  width: 35rem;
  height: auto;
  margin: 1rem;
  padding: 1rem;
  

  .questSect {
    display: flex;
    gap: 1rem;
    .addQuestDiv {
      border: rgba(135, 135, 135, 0.149) solid 1px;
      display: flex;
      flex-direction: column;
    }
    .allQuestSect {
      border: black solid 1px;
      .button-box {
        display: flex;
        gap: 0.5rem;
        margin-top: 0.3rem;
        .btn {
          font-size: 8px;
          color: white;
          border: none;
        }
        .edit {
          background-color: rgb(134, 223, 134);
        }
        .delete {
          background-color: rgba(238, 106, 106, 0.711);
        }
        .save{
            background-color: rgb(123, 123, 236);

        }
      }
    }
  }
}
