#app {
  display: flex;
  flex-wrap: wrap;

  border: dotted pink 2px;
  height: auto;
  width: auto;
  margin: 1rem;
  padding: 1rem;

  #app-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px; /* Justera efter behov */
  }
}
